<div class="container mt-5 shadow bg-primary text-light">
  <form class="p-4">
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Title">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Category">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Date Publish">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Author">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Price">
    </div>

    <button class="btn btn-outline-light w-100">Search</button>
  </form>

</div>
