



<div class="container" *ngIf="book$ | async as book">
  <div class="row mt-5">
    <div class="col-md-5">
      <img [src]="book.imageUrl" width="600" height="400" class="img-fluid" alt="">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="container">
        <h2 class="text-center">{{book.title}}</h2>
        <p class="lead">{{book?.description}}</p>
        <p class="lead">Author : {{book?.author}}</p>
        <p class="lead">Price : {{book?.price}}</p>
      </div>
    </div>
  </div>

</div>
