


<div class="container">

  <table class="table table-striped" *ngIf="books$ | async ">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Published Dte</th>
        <th>Action</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of books$ | async">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.author}}</td>
        <td>{{item.price}}$</td>
        <td>{{item.publishedDate | date}}</td>
        <td><a class="btn btn btn-outline-success" [routerLink]="['/book/update/',item.id]" >Update</a></td>
      </tr>
    </tbody>

  </table>

</div>
