
#head{
  background-image: url("https://images.unsplash.com/photo-1514894780887-121968d00567?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1900&q=80");
  object-fit: cover;
  height: 400px;
}

